.main-content
    display: flex
    justify-content: center
    flex-direction: column

.title
    text-align: center

.actions
    display: flex
    justify-content: space-around
    padding: 8px 0
    button
        width: 100px

.mat-dialog-content
    padding: 10px 24px

mat-icon
    cursor: default

.reset-password-link
    display: flex
    flex-direction: column
    justify-content: center
    margin-top: -10px
    margin-bottom: 10px
    a
        cursor: pointer
        text-align: center
        &:hover
            text-decoration: underline
