<post-edit-form *ngIf="currentUser && showPostContainer" (onSave)="addPostAPI($event)"></post-edit-form>

<mat-toolbar *ngIf="!currentUser">
  <p class="link" (click)="openAuthDialog()">Want to post? Sign in</p>
</mat-toolbar>

<mat-card class="posts-container">
  <div *ngIf="loadingPosts" class="mat-spinner-wrapper posts-spinner">
    <mat-spinner></mat-spinner>
  </div>
  <div class="main-thread">
    <div class="main-actions" *ngIf="currentUser">
      <button mat-raised-button matTooltip="Write a post" (click)="toggleNewPostContainer()">
        <mat-icon color="accent">add_comment</mat-icon>
      </button>
      <main-thread-filters [currentUser]="currentUser" (onFilterChange)="changeFilter($event)">
      </main-thread-filters>
    </div>
    <mat-toolbar *ngIf="posts.length === 0 && !loadingPosts">
      <p class="no-content">There is nothing</p>
    </mat-toolbar>
    <div *ngFor="let _post of posts" class="user-post" id="post-{{_post.id}}">
      <app-post [post]="_post" [currentUser]="currentUser" (onDelete)="deletePostAPI($event)"
        (onSave)="savePostAPI($event)" (onReact)="reactOnPost($event)" id="post.id"></app-post>
    </div>
  </div>
</mat-card>