<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
    <div class="secondary-actions-buttons" *ngIf="canModify">
      <button mat-icon-button color="primary" (click)="startEditingComment()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteComment()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="isEditing; then commentEditTemplate else commentTemplate">
    </div>
  </mat-card-content>

  <mat-card-actions class="actions-buttons" align="end">
    <reaction-button [reactions]="likesReactions" [isLike]="true" (onReact)="likeComment()"></reaction-button>
    <reaction-button [reactions]="dislikesReactions" [isLike]="false" (onReact)="dislikeComment()"></reaction-button>
  </mat-card-actions>
</mat-card>

<ng-template #commentTemplate>
  <p>{{comment.body}}</p>
</ng-template>

<ng-template #commentEditTemplate>
  <comment-edit-form *ngIf="isEditing" [initialBody]="comment.body" (onSave)="saveComment($event)"></comment-edit-form>
</ng-template>