<mat-card class="post-edit-container">
  <div *ngIf="isLoading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
  <mat-card-content>
    <mat-form-field>
      <textarea [(ngModel)]="body" matInput placeholder="Write something..."></textarea>
    </mat-form-field>
    <div class="image-container">
      <mat-icon aria-label="Send" (click)="removeImage()">close</mat-icon>
      <img mat-card-image class="post-image" *ngIf="imageUrl" mat-card-image src="{{imageUrl}}" alt="Photo">
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <input hidden #file accept="image/*" type="file" (change)="loadImage($event.target)">
    <button mat-icon-button color="accent" (click)="file.click()">
      <mat-icon aria-label="Choose an image">image</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Post it" (click)="savePost()">
      <mat-icon aria-label="Send">send</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>