textarea
    min-height: 60px

mat-card-content
    font-size: 15px
    margin: 0

mat-form-field
    width: 100%

mat-card-actions
    display: flex
    justify-content: space-between

.post-image
    width: auto
    height: 100px
    max-width: 100%
    margin: 10px auto  

.image-container
    position: relative
    width: fit-content
    .mat-icon
        display: none
    &:hover
        .mat-icon
            display: inline-block
            position: absolute
            right: -20px
            top: -7px
            cursor: pointer

.post-create-container
    position: relative
    margin: auto -40px
    .mat-icon
        font-size: 30px

.mat-spinner-wrapper 
    margin: -16px
