<mat-card class="main-content align-center">
  <div *ngIf="loading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
  <form name="resetPasswordForm" #resetPasswordForm="ngForm" class="main-content">
    <mat-form-field>
      <input name="email" [(ngModel)]="email" #emailElement="ngModel" matInput placeholder="Email" appEmailValidator>
      <mat-error *ngIf="emailElement.errors">
        Email is not valid
      </mat-error>
    </mat-form-field>
  </form>
  <div class="buttons">
    <button mat-raised-button (click)="goBackToMainPage()">
      Back To Main Page
    </button>
    <button mat-raised-button color="primary" (click)="sendResetPasswordEmail()" [disabled]="!resetPasswordForm.valid">
      Send Reset Password Email
    </button>
  </div>
</mat-card>