<h2 mat-dialog-title class="title">Share post via email</h2>
<div mat-dialog-content>
  <form name="authForm" #authForm="ngForm" class="main-content">
    <mat-form-field>
      <input name="authEmail" [(ngModel)]="email" #inEmail="ngModel" matInput placeholder="Receiver's email">
    </mat-form-field>
  </form>
</div>

<div class="actions">
  <button mat-raised-button (click)="share()">Share</button>
</div>