<div class="comment-edit-form">
  <mat-form-field>
    <textarea [(ngModel)]="body" matInput placeholder="Comment it..."></textarea>
  </mat-form-field>
  <button mat-icon-button color="primary" matTooltip="Send" (click)="saveComment()">
    <mat-icon aria-label="Send">send</mat-icon>
  </button>
</div>