<mat-card [ngClass]="{'post-with-comments': showComments}">
  <mat-card-header>
    <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
    <mat-card-title>{{post.author.userName}}</mat-card-title>
    <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
    <div class="secondary-actions-buttons" *ngIf="canModify">
      <button mat-icon-button color="primary" (click)="startEditingPost()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deletePost()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <div *ngIf="isEditing; then postEditTemplate else postTemplate"></div>

  <mat-card-actions class="actions-buttons" align="end">
    <reaction-button [reactions]="likesReactions" [isLike]="true" (onReact)="reactOnPost(true)">
    </reaction-button>
    <reaction-button [reactions]="dislikesReactions" [isLike]="false" (onReact)="reactOnPost(false)">
    </reaction-button>
    <button mat-icon-button color="accent" *ngIf="showShareButton">
      <mat-icon aria-label="Share" (click)="openSharePostDialog()">share</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)=" toggleComments()">
      <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>
  </mat-card-actions>

  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <comment-edit-form (onSave)="sendComment($event)"></comment-edit-form>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{post.comments.length}} in all
    </div>
    <post-comment *ngFor="let _comment of post.comments" [comment]="_comment" [currentUser]="currentUser"
      (onDelete)="deleteComment($event)" (onSave)="saveComment($event)"></post-comment>
  </div>
</mat-card>

<ng-template #postTemplate>
  <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
  <p>{{post.body}}</p>
</ng-template>

<ng-template #postEditTemplate>
  <post-edit-form *ngIf="isEditing" [initialBody]="post.body" [initialImageUrl]="post.previewImage"
    (onSave)="savePost($event)"></post-edit-form>
</ng-template>