.main-content
    display: flex
    justify-content: center
    flex-direction: column
    width: 100%
    margin: 10px 0
    position: relative

.align-center
    align-items: center

.buttons
    display: flex
    width: 100%
    justify-content: space-around
    button
        width: text-wrap

.mat-spinner-wrapper
    margin: -16px
