<mat-card class="main-content align-center">
  <div *ngIf="loading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
  <form name="resetPasswordForm" #resetPasswordForm="ngForm" class="main-content">
    <mat-form-field>
      <input name="password" [(ngModel)]="password" matInput placeholder="New password">
    </mat-form-field>
  </form>
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="resetPassword()">
      Change Password
    </button>
    <button mat-raised-button (click)="goBackToMainPage()">
      Back To Main Page
    </button>
  </div>
</mat-card>